<section class="g2j-hpbd-comment-section">
  <div class="g2j-hpbd-comment-scroll__wrap">
    <div class="g2j-hpbd-comment-scroll__item">
      {% for arrHpbdWishInfo in arrHpbdWishList %}
        <div class="g2j-hpbd-comment-scroll__wish-card">
          <div class="g2j-hpbd-comment-scroll__avatar-col">
              <img src="/image/" alt="">
          </div> <!-- .g2j-hpbd-comment-scroll__avatar-col -->

          <div class="g2j-hpbd-comment-scroll__content-col">
            <div class="g2j-hpbd-comment-scroll__name-label"></div>

            <div class="g2j-hpbd-comment-scroll__content-label"></div>
          </div> <!-- .g2j-hpbd-comment-scroll__content-col -->
        </div> <!-- .g2j-hpbd-comment-scroll__wish-card -->
      {% endfor %}
    </div> <!-- .g2j-hpbd-comment-scroll__item -->
  </div> <!-- .g2j-hpbd-comment-scroll__wrap -->
</section> <!-- .g2j-hpbd-comment-section -->
